<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.downloader">

    <application>
        <provider
            android:name=".initializer.LibInitializer"
            android:authorities="com.downloader"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>